<!-- //views/skills/getOne.ejs -->

<%- include('../partials/header') %>

<b>
  The <%= skill.name %> skill has <%= skill.creditRating %> credit rating.
</b>
<p></p>

<div class="skill-buttons">
  <!-- Update -->
  <form action="/skills/update/<%= skill.id %>?_method=PUT" method="POST">
    <button type="submit">Update</button>
  </form>

  <!-- Delete -->
  <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
    <button type="submit" class="delete-btn">Delete</button>
  </form>
</div>
