<%- include('../partials/header') %>
    <div class="addnew-btn-container">
        <a href="/skills/new" class="addnew-btn">Add a new skill</a>
    </div>


    <ul>
        <% for (var i=0; i < skills.length; i++) { %>
            <li>
                <div class="skill-box">
                    <!-- Skill Details -->
                    <div class="skill-details">
                        <a href="/skills/<%= skills[i].id %>">
                            <%= skills[i].name %> - <%= skills[i].learnt ? 'learnt' : 'not learnt' %>
                        </a>
                    </div>

                    <!-- Buttons -->
                    <div class="skill-buttons">

                        <!-- Update -->
                        <form action="/skills/<%= skills[i].id %>?_method=PUT" method="POST">
                            <button type="submit">Update</button>
                        </form>

                        <!-- Delete -->
                        <form action="/skills/<%= skills[i].id %>?_method=DELETE" method="POST">
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                    </div>
                </div>
            </li>
            <% } %>
    </ul>