<!-- //views/skills/index.ejs -->

<%- include('../partials/header') %>
<div class="addnew-btn-container">
  <a href="/skills/new" class="addnew-btn">Add a new issuer</a>
</div>

<ul>
  <% for (var i=0; i < skills.length; i++) { %>
  <li>
    <div class="skill-box">
      <!-- Skill Details -->
      <div class="skill-details">
        <a href="/skills/<%= skills[i].id %>">
          <%= skills[i].name %>: <%= skills[i].creditRating %> credit rating.
        </a>
      </div>

      <!-- Buttons -->
      <div class="skill-buttons">
        <!-- Update -->
        <a href="/skills/update/<%= skills[i].id %>">
          <button type="button">Update</button>
        </a>

        <!-- Delete -->
        <form action="/skills/<%= skills[i].id %>?_method=DELETE" method="POST">
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </div>
    </div>
  </li>
  <% } %>
</ul>
